{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for nav in navigation %}

        <title>{{ nav.role_name }}</title>
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        </head>
        <body style="height: 125%;">
        <header>
            <div class="name">
                <p style="margin-top: 50px">{{ nav.role_name }}</p>
                <img class="logo" src="{{ nav.business_logo.url }}">
            </div>
        </header>
        <main>
        <div class="body">
        <div class="navigation">
            <nav>
                <ul>
                    <li>
                        <div><a href="/">{{ nav.first_item }}</a>
                        </div>
                    </li>
                    <li>
                        <div><a href={% url 'relevance' %}>{{ nav.second_item }}</a></div>
                    </li>
                    <li>
                        <div style="border-radius: 50px;background: rgba(22, 81, 159, 0.50); justify-content: center"><a style="color: #F07E74 !important; margin-left: 0" href={% url 'location' %}>{{ nav.third_item }}</a></div>
                    </li>
                    <li>
                        <div><a href={% url 'abilities' %}>{{ nav.fourth_item }}</a></div>
                    </li>
                    <li>
                        <div><a href={% url 'hh' %}>{{ nav.fifth_item }}</a></div>
                    </li>
                </ul>
            </nav>
        </div>
    {% endfor %}

    <div class="home_text" style="margin-top: 100px;">
        {% for data in context %}
            <img class="demand_graph_1" src="{{ data.city_salary_chart.url }}"/>
            <img class="demand_graph_2" src="{{ data.city_vacancy_chart.url }}"/>
            <div class="tables">
                {{ data.data_table|safe }}
            </div>
        {% endfor %}
    </div>
    </div>
    </main>
    <footer>
        {% for nav in navigation %}
        <p style="left: 2.5%;">{{ nav.creator }}</p>
            {% endfor %}

    </footer>
    </body>
</html>