{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Андроид разработчик</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body style="height: 125%;">
<header>
    <div class="name">
        <p style="margin-top: 50px">Андроид разработчик</p>
        <img class="logo" src="{% static 'images/logotip.png' %}">
    </div>
</header>
<main>
    <div class="body">
        <div class="navigation">
            <nav>
                <ul>
                    <li><div style="border-radius: 50px;background: rgba(22, 81, 159, 0.50); justify-content: center"><a style="color: #F07E74 !important; margin-left: 0" href="/">Главная</a></div></li>
                    <li><div><a href={% url 'demend' %}>Востребованность</a></div></li>
                    <li><div><a href={% url 'geography' %}>География</a></div></li>
                    <li><div><a href={% url 'skills' %}>Навыки</a></div></li>
                    <li><div><a href={% url 'lastVacancy' %}>Последние вакансии</a></div></li>
                </ul>
            </nav>
        </div>
        <div class="home_text">
            <h3>Что делает Android-разработчик</h3>
            <p>Сначала следует подробнее узнать об операционной системе Андроид. Это ОС (операционная
система) от Google, которая больше всего распространена на телефонах и планшетах.</p>
            <p>Android, в отличие от iOS, является открытой операционной системой. Поэтому разработка
программного обеспечения для данной системы более разнообразна и менее требовательна.</p>
            <p>Чаще всего разработчик делает приложения, которые впоследствии выкладываются в
официальный магазин Play Market. Данный специалист продумывает концепцию приложения
и его логику, оптимизирует потребление аппаратных ресурсов. Например, если сделать
приложение, которое потребляет мало энергии, оно будет меньше сажать батарею. Это
особенно важно для программ, которые используются часто или долго.</p>
            <p>Данная профессия очень интересна и сочетает в себе творческий подход с аналитическим
умом программиста. Несколько примеров того, чем занимается разработчик:</p>
            <p>&emsp;&emsp;&emsp;продумывает и реализует реакцию приложения на внешние явления (сообщения, звонки);</p>
            <p>&emsp;&emsp;&emsp;создает навигационные элементы соответственно с тематикой программы;</p>
            <p>&emsp;&emsp;&emsp;программирует взаимодействие пользовательских команд с серверной бэкенд составляющей
и базами данных;</p>
            <p>&emsp;&emsp;&emsp;формирует техническое задание, по которому разрабатывается приложение им же или
другими специалистами;</p>
            <p>&emsp;&emsp;&emsp;работает над безопасностью пользовательских данных (особенно важно для приложений,
связанных с финансами).</p>
            <p>Помимо языков программирования Kotlin и Java, разработчик должен иметь следующие
основные навыки:</p>
            <p>&emsp;&emsp;&emsp;работа в официальной среде программирования Android Studio;</p>
            <p>&emsp;&emsp;&emsp;знание объектно-ориентированного программирования;</p>
            <p>&emsp;&emsp;&emsp;знание принципов работы операционной системы, ее файловой структуры;</p>
            <p>&emsp;&emsp;&emsp;работа с контролем версий Git;</p>
            <p>&emsp;&emsp;&emsp;знание принципов работы HTTP, Rest API, XML, HTML, CSS (не всегда каждый перечисленный
инструмент, зависит от предназначения приложения);</p>
            <p>&emsp;&emsp;&emsp;знание универсального набора инструментов для ОС Android SDK;</p>
            <p>&emsp;&emsp;&emsp;работа с библиотеками для использования частей чужого кода в своем;</p>
            <p>&emsp;&emsp;&emsp;знание языка данных SQL и системы управления базами данных SQLite;</p>
            <p>&emsp;&emsp;&emsp;знание правил Google Play/Play Market и умение загружать приложения в них.</p>
            <p>Также перечень обязанностей зависит от квалификации. Junior (новичок, 1-2 года опыта)
разрабатывает небольшие части ПО, которые в итоге могут даже не использоваться в итоговом
варианте. Middle (средний уровень, опыт от 2-3 лет) выполняет самостоятельную работу, и
может даже разработать простенькое приложение с нуля. Senior (опытный специалист с
большим стажем) может создать почти любую программу и выпустить ее. Team lead (глава
разработки, управляющий командой) координирует работу нескольких разработчиков и
проверяет её.</p>
            <h3>Работа разработчиком на Android</h3>
            <p>Одно из преимуществ того, чтобы стать Android разработчиком — это возможность устроиться
как на удаленную работу, так и на должность в офисе. Существуют даже специалисты, которые
сами разрабатывают приложения с нуля из дома. Они занимаются не только
программированием, но и дизайном, маркетингом, продвижением, написанием сценариев
(при необходимости) и т.д. Проще говоря это люди, которые работают на себя.</p>
            <p>Чаще всего решения для операционной системы Андроид разрабатываются в команде, так как
необходимо взаимодействие нескольких специалистов. Значительно реже требуются
фрилансеры, которые выполняют проектную работу.</p>
            <p>При удаленной работе наиболее востребованы middle и senior программисты. Они устроены в
штате, но взаимодействуют с другими сотрудниками по интернету.</p>
            <div class="empty"></div>
            <img class="home_img" src="{% static 'images/android.jpg' %}"/>
        </div>
    </div>
</main>
<footer>
    <p style="left: 2.5%;">Невструев Роман Олегович АТ-15</p>
</footer>
</body>
</html>